<h2><%= @person.full_name %></h2>
<ul>
  <li><%= @person.birth_date %></li>
  <li><%= @person.email %></li>
  <li>AttendanceReminder: <%= @person.send_attendance_reminder.to_s %></li>
</ul>
<%= link_to t(:edit), edit_person_path(@person) %> |
<%= link_to t(:back), people_path %>
