<h1><%= t('activerecord.models.group.other') %></h1>

<table class="table">
  <thead>
    <tr>
      <th><%= t 'activerecord.attributes.group.name' %></th>
      <th><%= t 'activerecord.attributes.group.members' %></th>
      <th><%= t 'activerecord.attributes.group.activities' %></th>
      <th colspan="2"><%= t :actions %></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= link_to group.name, group %></td>
        <td><%= link_to group.members.count, group_members_path(group) %></td>
        <td><%= link_to group.activities.count, group_activities_path(group) %></td>
        <td><%= link_to t(:edit), edit_group_path(group) %></td>
        <td><%= link_to t(:destroy), group, method: :delete, data: { confirm: t(:areyousure)} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('groups.new'), new_group_path %>
