%h2
  = @group.name

.row
  .groupmenu(class=@groupmenu)
    .panel.panel-default
      .panel-heading
        = @group.name

      .panel-body
        .list-group
          = link_to group_members_path(@group), class: 'list-group-item' do
            = @group.members.count
            members

          = link_to group_activities_path(@group), class: 'list-group-item' do
            = @group.activities.count
            activities

          - if @group.is_leader?(current_person)
            = link_to new_group_activity_path(@group), class: 'list-group-item' do
              New event

            = link_to edit_group_path(@group), class: 'list-group-item' do
              Edit group

  - if @organized_activities && @organized_activities.count > 0
    .col-md-6
      .panel.panel-default
        .panel-heading
          Upcoming activities organized by you

        .panel-body
          %table.table
            %tr
              %th
                What
              %th
                When

            - @organized_activities.each do |p|
              - a = p.activity
              %tr
                %td
                  = link_to group_activity_path(@group, a) do
                    = a.public_name
                    = render partial: "activities/state_counts", locals: {counts: a.state_counts}
                %td
                  = distance_of_time_in_words_to_now(a.start)

.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        Your activities

      .panel-body
        %table.table.table-striped
          %tbody
            - @upcoming.each do |a|
              - p = @upcoming_ps[a.id]
              - if p
                %tr{class: p.row_class, data: {activity_id: a.id, person_id: current_person.id}}
                  %td
                    = link_to group_activity_path(a.group, a) do
                      = a.public_name
                  %td
                    = render partial: "activities/presence_buttons", locals: {activity: a, person: current_person, state: p.attending}
                  %td
                    = editable p, :notes, url: presence_group_activity_path(a.group, a, person_id: current_person.id), title: "Notes", value: p.notes, emptytext: 'Notes'
              - else
                %tr
                  %td
                    = link_to group_activity_path(a.group, a) do
                      = a.public_name
                  %td
                  %td
