<h2><%= @group.name %></h2>

<h3>Members</h3>
<ul>
  <% @group.members.each do |m| %>
    <li>
      <% if m.is_leader %>
        <i class="fa fa-angle-up"></i>
      <% end %>
      <%= m.person.full_name %>
    </li>
  <% end %>
</ul>
<%= link_to 'Manage members', group_members_path(@group) %>

<h3>Events</h3>
<ul>
  <% @group.activities.each do |e| %>
    <li>
      <%= e.public_name %>
    </li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
