- content_for :title do
  = t 'authentication.confirm_account'
.container
  = render 'shared/alerts'
  = form_for :account_confirmation, url: {action: 'confirm_account', token: params[:token]}, html: { class: 'central-form'} do |f|
    %h2.central-form-header.text-center
      = t 'authentication.confirm_account'

    = f.password_field :password, placeholder: t('authentication.new_password'), class: 'form-control input-top'
    = f.password_field :password_confirmation, placeholder: t('authentication.new_password_confirm'), class: 'form-control input-bottom'
    = f.submit t('authentication.confirm_account'), class: 'btn btn-primary btn-lg btn-block'

  .central-form
    %ul.hdis
      %li
        = link_to t(:log_in),          {action: 'login',           controller: 'authentication'}, {class: 'btn btn-secondary'}
      %li
        = link_to t('authentication.create_account'), {action: 'create_password', controller: 'authentication'}, {class: 'btn btn-secondary'}
