- content_for :title do
  = t 'authentication.create_account'

.container
  = render 'shared/alerts'
  = form_for :user, url: '/register', html: {class: 'central-form'} do |f|
    %h2.central-form-header.text-center
      = t 'authentication.create_account'
    %p
      = t 'authentication.need_introducer'

    = f.email_field :email, placeholder: t('person.attrs.email'), class: 'form-control input-only'
    = f.submit t(:send_email), class: 'btn btn-primary btn-lg btn-block'

  .central-form
    %ul.hdis
      %li
        = link_to t(:log_in),          {action: 'login',           controller: 'authentication'}, {class: 'btn btn-secondary'}
      %li
        = link_to t('authentication.forgot_password'), {action: 'forgotten_password', controller: 'authentication'}, {class: 'btn btn-secondary'}
