- content_for :title do
  Create password

.container
  = render 'shared/alerts'
  = form_tag '/register', method: 'post', class: 'central-form' do
    %h2.central-form-header.text-center
      Create password
    %p
      Creating an account requires that you have been registered beforehand by an administrator. Contact someone if your email address is not recognized.

    = email_field_tag :email, '', placeholder: 'Email address', class: 'form-control input-only'
    = submit_tag "Send email", class: 'btn btn-primary btn-lg btn-block'

  .central-form
    %ul.hdis
      %li
        = link_to "Login",          {action: 'login',           controller: 'authentication'}, {class: 'btn btn-secondary'}
      %li
        = link_to "Forgot password", {action: 'forgotten_password', controller: 'authentication'}, {class: 'btn btn-secondary'}
