- content_for :title do
  Forgot password
.container
  = form_tag '/forgot', method: 'post', class:'central-form' do
    %h2.central-form-header.text-center
      Forgot password

    = email_field_tag :email, '', placeholder: "Email address", class: 'form-control input-only'
    = submit_tag "Send email", class: 'btn btn-primary btn-lg btn-block'

  .central-form
    %ul.hdis
      %li
        = link_to "Login",          {action: 'login',           controller: 'authentication'}, {class: 'btn btn-secondary'}
      %li
        = link_to "Create account", {action: 'create_password', controller: 'authentication'}, {class: 'btn btn-secondary'}
