- content_for :title do
  = t 'authentication.forgot_password'
.container
  = render 'shared/alerts'
  = form_for :password_reset, url: '/forgot', html: {class:'central-form'} do |f|
    %h2.central-form-header.text-center
      = t 'authentication.forgot_password'

    = f.email_field :email, placeholder: t('person.attrs.email'), class: 'form-control input-only'
    = f.submit t(:send_email), class: 'btn btn-primary btn-lg btn-block'

  .central-form
    %ul.hdis
      %li
        = link_to t(:log_in),          {action: 'login',           controller: 'authentication'}, {class: 'btn btn-secondary'}
      %li
        = link_to t('authentication.create_account'), {action: 'create_password', controller: 'authentication'}, {class: 'btn btn-secondary'}
