- content_for :title do
  Forgot password
.container
  = render 'shared/alerts'
  = form_for :password_reset, url: '/forgot', html: {class:'central-form'} do |f|
    %h2.central-form-header.text-center
      Forgot password

    = f.email_field :email, placeholder: "Email address", class: 'form-control input-only'
    = f.submit "Send email", class: 'btn btn-primary btn-lg btn-block'

  .central-form
    %ul.hdis
      %li
        = link_to "Login",          {action: 'login',           controller: 'authentication'}, {class: 'btn btn-secondary'}
      %li
        = link_to "Create account", {action: 'create_password', controller: 'authentication'}, {class: 'btn btn-secondary'}
