- content_for :title do
  Login

.container
  = render 'shared/alerts'
  = form_for :session, url: "/login", html: { class: "central-form"} do |f|
    %h2.central-form-header.text-center
      Please sign in

    = f.email_field(:email, placeholder: 'Email address', class: 'form-control input-top')
    = f.password_field(:password, placeholder: 'Password', class: 'form-control input-bottom')

    .checkbox
      %label
        = f.check_box(:remember_me)
        Remember me

    = f.submit("Sign in", class: "btn btn-primary btn-lg btn-block")

  .central-form
    %ul.hdis
      %li
        = link_to 'Forgot password', {action: 'forgotten_password', controller: 'authentication'}, {class: 'btn btn-secondary'}
      %li
        = link_to 'Create account', {controller: 'authentication', action: 'create_password'}, {class: 'btn btn-secondary'}
