.container
  .panel.panel-default
    .panel-heading
      = t :areyousure
    .panel-body
      = link_to logout_path, method: :delete, class: 'btn btn-danger' do
        %i.fa.fa-sign-out{'aria-hidden': true}
        = t :log_out
      = link_to root_path, class: 'btn btn-default' do
        = t :cancel
