- content_for :title do
  Reset password
.container
  = render 'shared/alerts'
  = form_for :password_reset, url: {action: 'reset_password', token: params[:token]}, html: { class: 'central-form'} do |f|
    %h2.central-form-header.text-center
      Reset password

    = f.password_field :password, placeholder: "New password", class: 'form-control input-top'
    = f.password_field :password_confirmation, placeholder: "Confirm new password", class: 'form-control input-bottom'
    = f.submit "Reset password", class: 'btn btn-primary btn-lg btn-block'

  .central-form
    %ul.hdis
      %li
        = link_to "Login",          {action: 'login',           controller: 'authentication'}, {class: 'btn btn-secondary'}
      %li
        = link_to "Create account", {action: 'create_password', controller: 'authentication'}, {class: 'btn btn-secondary'}
