%p= t 'authentication.emails.greeting', name: @person.first_name

%p= t 'activities.emails.subgroup_notification.yoursubgroupis', activity: @activity.name, subgroup: @subgroup

- if !@others.empty?
  %p= t 'activities.emails.subgroup_notification.subgroupmembers', others: @others
- else
  %p= t 'activities.emails.subgroup_notification.noothersinsubgroup'

%p= t 'activities.emails.subgroup_notification.allsubgroups'
%ul
  - @subgroups.each do |sg|
    %li
      = succeed ':' do
        = sg.name
      = sg.participant_names.join ', '

%p= t 'activities.emails.subgroup_notification.cannotdecline', organizers: @organizers

%p
  = link_to group_activity_url(@activity.group, @activity) do
    = t 'activities.emails.open_activity'

%p
  = t('activities.emails.ending').sample
  %br
  Aardbei

%hr
%footer
  %p
    = t 'activities.emails.cant_turn_off'
