<h2><%= @activity.public_name %></h2>

<ul>
  <li>Secretly <%= @activity.secret_name %></li>
  <li><%= @activity.description %></li>
  <li><%= @activity.location %></li>
  <li><%= @activity.start %> - <%= @activity.end %></li>
  <li>Deadline <%= @activity.deadline %></li>
</ul>

<h2>Participants (<%= @activity.participants.count %>)</h2>
<table class="table table-bordered">
  <% @activity.participants.each do |p| %>
    <tr class="<%= p.row_class %>" data-person-id="<%= p.person.id %>" data-activity-id="<%= @activity.id %>">
      <td>
        <%= p.person.full_name %>
      </td>
      <td>
        <%= p.is_organizer %>
      </td>
      <td>
        <%=
          editable p, :notes, url: presence_group_activity_path(@activity.group, @activity, person_id: p.person_id), title: "Notes", value: p.notes
        %>
      </td>
      <td>
        <%= render partial: "activities/presence_buttons", locals: {activity: @activity, person: p.person, state: p.attending} %>
  <% end %>
</table>

<%= link_to 'Edit', edit_group_activity_path(@group, @activity) %> |
<%= link_to 'Back', group_activities_path(@group) %>
