.row.form-group
  .col-md-12
    = link_to group_members_path(@group), class: 'btn btn-default' do
      %i.fas.fa-arrow-left
      = t :back

    .btn-group.pull-right
      - if params[:past]
        = link_to group_member_path(@group, @member), class: 'btn btn-default' do
          %i.fas.fa-history
          = t 'activities.upcoming'
      - else
        = link_to group_member_path(@group, @member, past: true), class: 'btn btn-default' do
          %i.fas.fa-history
          = t 'activities.past'

      = link_to edit_group_member_path(@group, @member), class: 'btn btn-default' do
        %i.fas.fa-edit
        = t :edit

.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        = link_to group_path(@group) do
          = @group.name
        >
        = @member.person.full_name

      %table.table
        %tr
          %th= t 'activerecord.attributes.member.display_name'
          %td= @member.display_name

        %tr
          %th= t 'groups.leader'
          %td
            - if @member.is_leader?
              %i.fas.fa-check
            - else
              %i.fas.fa-times

        %tr
          %th= t 'activerecord.attributes.member.created_at'
          %td= @member.created_at.to_formatted_s :long

        %tr
          %th= t 'activities.plural'
          %td= @member.activities.count

        %tr
          %th= t 'groups.organized'
          %td= @member.participants.where(is_organizer: true).count

.row
  .col-md-12
    .panel.panel-default
      %table.table.table-striped
        %tbody
          - @participants.each do |p|
            - e = p.activity
            %tr{class: p.row_class, data: {activity_id: e.id, person_id: current_person.id}}
              %td.shrink
                = render partial: "activities/presence_buttons", locals: {activity: e, person: @member.person, state: p.attending}
              %td.shrink
                = link_to group_activity_path(e.group, e) do
                  = e.name
              %td.expand
                = editable p, :notes, url: presence_group_activity_path(e.group, e, person_id: @member.person.id), title: t('activities.participant.notes'), value: p.notes, emptytext: t('activities.participant.add_notes')

      = will_paginate(@participants, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer, class: 'panel-footer pagination-sm pagination')
