.row.form-group
  .col-md-12
    = link_to group_members_path(@group), class: 'btn btn-default' do
      %i.fas.fa-arrow-left
      = t :back

    = link_to edit_group_member_path(@group, @member), class: 'pull-right btn btn-default' do
      %i.fas.fa-edit
      = t :edit

.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        = link_to group_path(@group) do
          = @group.name
        >
        = @member.person.full_name

      %table.table
        %tr
          %th= t 'activerecord.attributes.member.display_name'
          %td= @member.display_name

        %tr
          %th= t 'groups.leader'
          %td
            - if @member.is_leader?
              %i.fas.fa-check
            - else
              %i.fas.fa-times

        %tr
          %th= t 'activerecord.attributes.member.created_at'
          %td= @member.created_at.to_formatted_s :long

        %tr
          %th= t 'activities.plural'
          %td= @member.activities.count

        %tr
          %th= t 'groups.organized'
          %td= @member.participants.where(is_organizer: true).count



